@mixin app_text($color, $size, $weight, $line_hieght: normal){
    font-family: 'Poppins', sans-serif;
    font-size: $size;
    font-weight: $weight;
    font-stretch: normal;
    font-style: normal;
    line-height: $line_hieght;
    letter-spacing: normal;
    color: $color;
}

@mixin number_text($color, $size, $weight, $line_hieght: normal){
    font-family: "Poppins", sans-serif;
    font-size: $size;
    font-weight: $weight;
    font-stretch: normal;
    font-style: normal;
    line-height: $line_hieght;
    letter-spacing: normal;
    color: $color;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Mulish', sans-serif;
// font-family: 'Poppins', sans-serif;
@mixin title($color, $size, $weight, $line_hieght: normal){
    font-family: 'Poppins', sans-serif;
    font-size: $size;
    font-weight: $weight;
    font-stretch: normal;
    font-style: normal;
    line-height: $line_hieght;
    letter-spacing: normal;
    color: $color;
}

