
// // $primary: #037653;
// $primary: #0187E9;
// $secondary: #03B696;
// $headings-font-weight: 700;

@import "custom.scss";
@import "mixins.scss";
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
// @import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

:root{ 
  // --primary:#0187E9;
  // --secondary: #03B696;
  --header-bg: #16151a;
  --app-border-color: #2F3B52;
  --app-layer: $layer
}

html,
body {
  height: 100%;
  margin: 0;

  background: #181D29;
  // background: linear-gradient(148.81deg, #202838 22.29%, #10141D 81.15%);
}

.page {
 min-height: 100%;
display: flex;
flex-direction: column;
align-items: stretch;
background: $body-bg;

& main {
  flex-grow: 1;
}

& header, main, footer {
  flex-shrink: 0;
}
  // overflow: hidden;
  // top:0;
  // bottom: 0;
  // & .page-header{
  //   flex: 0 1 auto;
  //   /* The above is shorthand for:
  //   flex-grow: 0,
  //   flex-shrink: 1,
  //   flex-basis: auto
  //   */
  // }
}

@media (min-width: 768px) {
.page{
  max-width: 45%;
  margin:0 auto;
}
}

.modal-content {
  background-color: $layer;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
height: 235px;
}

.btn {
  font-weight: 600;
  font-size: 14px; 
}

.b-skeleton {
  background-color: rgba(35, 34, 41, 0.31) !important;
}

@include media-breakpoint-up(md) {
  .show-logo {
    display: block;
  }
  .show-logo-icon {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .show-logo {
    display: none;
  }
  .show-logo-icon {
    display: block;
  }
}
.app-input {
  & .input-group-prepend {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    background: rgba(231, 231, 231, 0.13);
    border: none;
    margin-right: 0px;
    // height: calc(1.5em + 0.75rem + 2px);
  }
  & .input-group-append {
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 5px;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: rgba(231, 231, 231, 0.13);
    border: none;
    margin-left: 0px;
    border-left: none;
    cursor: pointer;
    // height: calc(1.5em + 0.75rem + 2px);
  }
  & .form-control {
    border-width: 0px;
    border: 0px solid transparent;
    background: rgba(231, 231, 231, 0.13);
    font-style: normal;
    font-weight: 500;
    color: #bfbebe;
  }
  & .form-control:focus {
    color: #495057;
    background: rgba(231, 231, 231, 0.13);
    border-color: none;
    border-width: 0px;
    outline: none;
    box-shadow: none;
    font-style: normal;
    font-weight: 500;
    color: #bfbebe;
  }
}

@media only screen and (max-width: 768px) {
  .app-input {
    & .input-group-prepend {
      margin-right: 0px;
    }
  }
}


.app-btn{
  border-radius: 4px;
  @include app_text(#ffffff, 14px, 500);
}

