  <template>
  <div class="">
    <template v-if="!isLoading && !hasError">
      <b-container>
          <b-row align-h="center" class="mb-3 mt-3">
          <b-col md="12" cols="12" class="title-box">
            <b-img :src="pageTitle['image']" width="63"></b-img>
            <h2 class="mt-2">{{ "Up "+currentQuizable.quizable.name+"!" }}</h2>
            <h4 class="mt-1">{{ pageTitle['sub_title'] }}</h4>
          </b-col>
        </b-row>
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <b-row>
              <b-col
                md="6"
                cols="12"
                v-for="level in currentQuizable.levels"
                v-bind:key="level.id"
              >
                <input
                  type="radio"
                  class="level-card-input"
                  :id="'level-' + level.id"
                  @change="setCurrentLevel(level.id)"
                  name="level-input"
                />
                <label
                  class="
                    level-card
                    d-flex
                    flex-column
                    justify-content-between
                    align-items-middle
                  "
                  :for="'level-' + level.id"
                >
                  <div
                    class="
                      level-card-header
                      d-flex
                      flex-column
                      justify-content-center
                      align-items-middle
                    "
                  >
                    {{ level.name }}
                  </div>
                  <div
                    class="
                      level-card-body
                      d-flex
                      justify-content-between
                      align-items-middle
                    "
                  >
                    <div
                      class="
                        point-box
                        d-flex
                        justify-content-center
                        align-items-center
                      "
                    >
                      <div class="">
                        <b-img
                          :src="require('@/assets/diamond.svg')"
                          width="24"
                        ></b-img>
                      </div>
                      <div class="point">
                        <h2>{{ level.odd }}</h2>
                      </div>
                    </div>
                    <div
                      class="
                        point-box
                        d-flex
                        justify-content-center
                        align-items-center
                      "
                    >
                      <div class="">
                        <b-img
                          :src="require('@/assets/quiz-chat.svg')"
                          width="24"
                        ></b-img>
                      </div>
                      <div class="point">
                        <h2>{{ level.questions }}</h2>
                      </div>
                    </div>
                    <!-- <div class="question-box d-flex justify-content-center align-items-center">
                            <div class="">
                             <b-img :src="require('@/assets/quiz-chat.svg')" width="18"></b-img>
                            </div>
                            <div class="number_of_questions"><h4>{{ level.questions }}</h4></div>
                        </div> -->
                  </div>
                </label>
              </b-col>
            </b-row>
            <div class="text-center">
              <b-button
                variant="primary"
                block
                size="lg"
                style="height: 60px"
                :disabled="!levelSelected || isStartingSession"
                @click="goToSessionPage()"
                ><b-spinner small v-if="isStartingSession"></b-spinner> Next</b-button
              >
              <b-button variant="link" @click="returnBack()">Go Back</b-button>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </template>
    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Quiz Result</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </div>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import NotFoundError from "@/components/NotFoundError.vue";
import $crypt from "@/CryptoJsAesJson";
import { find } from 'lodash';
// import { BIcon, BIconChevronRight } from "bootstrap-vue";

@Component({
  components: {
    NotFoundError,
    // BIcon,
    // BIconChevronRight,
  },
})
export default class ChooseLevel extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;
  isStartingSession = false;

//   data: Array<object> = [];

  currentQuizable: Array<object> = [];

  estimated_win = 0;
  stake = 100;
  currrentLevel = {};
  levelSelected = false;

  pageTitle = {
      title:"",
      sub_title:"Click to Choose one of the following Quiz Level:",
      image: require("@/assets/mascot.svg"),
  }

  created() {
    this.LoadQuizable();
  }

  returnBack(){
      this.$router.back();
  }

  async LoadQuizable() {
    this.isLoading = true;
    return await $axios
      .get(
        "/api/v1/secured/campaign/quizable/" +
          this.$route.params.campaign_id +
          "/" +
          this.$route.params.quizable_id
      )
      .then((response) => {
        // @ts-ignore
        let decrypted = $crypt.prototype.decrypt(response.data.iv);
        // @ts-ignore
        this.currentQuizable = decrypted;
        
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        // console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  setCurrentLevel(id: any){
    // @ts-ignore
    this.currrentLevel = find(this.currentQuizable.levels, {id: id});
    this.levelSelected = true;
    // @ts-ignore
    this.estimated_win = this.currrentLevel.odd * this.stake;
  }

  goToSessionPage(){
      this.isStartingSession = true;
      let data = {
          level: this.currrentLevel
      }
      let crypted = $crypt.prototype.encrypt(JSON.stringify(data));
    
      $axios.post("/api/v1/secured/campaign/set-session", {data: crypted})
     .then((response)=>{
        let sessionID = response.data.iv;
        this.$router.push({name: 'CreateSession', params: {token: sessionID}})
        // this.$router.push({name: 'Trivia', params:{session_id: sessionID}});
     })
     .catch((error)=>{

     })
     .finally(()=>{
       this.isStartingSession = false;
     })

  }

  get user() {
    return store.getters["auth/user"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.level-card-input{
  display: none;
}
.level-card{
  height: 120px;
  background: $layer;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid $secondary;
  }
  & .level-card-header{
    height: 50px;
    background: #36445F;
    border-radius: 10px 10px 0px 0px;
    @include title(#ffffff, 16px, 600);
    text-align: center;
  }
  & .level-card-body{
    // height: 80%;
    height: calc(100% - 50px);
    border:0px solid red;
    padding-left: 15px;
    padding-right: 15px;
    & .point-box{
      & .point h2{
        @include number_text(#ffffff, 20px, 600);
        margin:0;
        margin-left:3px;
      }
    }
    & .question-box{
      & .number_of_questions h4{
        @include number_text(#ffffff, 18px, 500);
        margin:0;
        margin-left:3px;
      }
    }
  }
}

.level-card-input:checked + .level-card{
  border: 1px solid $secondary;
  & .level-card-header{
    background: $secondary;
    @include title(#ffffff, 16px, 600);
  }
}

.spinner-text {
  padding-top: 10px;
  @include app_text(#ffffff, 14px, normal);
}
.title-box{
  text-align: center;
  & h2{
    @include title(#ffffff, 18px, 700);
    margin:0;
  }
  & h4{
    @include title(#ffffff, 16px, 500);
    margin:0;
  }
}
</style>