  <template>
  <div class="">
    <template v-if="!isLoading && !hasError">
       
        <b-container>
            <b-row align-h="center" class="mb-3 mt-3">
          <b-col md="12" cols="12" class="title-box">
            <b-img :src="pageTitle['image']" width="63"></b-img>
            <h2 class="mt-2">{{ pageTitle['title'] }}</h2>
            <h4 class="mt-1">{{ pageTitle['sub_title'] }}</h4>
          </b-col>
        </b-row>

             <b-row align-h="center">
          <b-col md="12" cols="12" v-if="data">
                <b-row>
              <b-col md="12" cols="12" class="mb-3">
                <div
                  class="
                    team-box
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  v-bind:style="{ background: data.first_quizable.gradient }"
                  @click="goToLevels(data.id, data.first_quizable.id)"
                >
                  <div class="d-flex justify-content-start align-items-center">
                    <div>
                      <b-img-lazy
                        :src="data.first_quizable.photo"
                        :alt="data.first_quizable.name"
                        :title="data.first_quizable.name"
                        width="75"
                      ></b-img-lazy>
                    </div>
                    <div>
                      <p
                        class="t-name"
                        v-bind:style="{ color: data.first_quizable.text_color }"
                      >
                        {{ data.first_quizable.name }}
                      </p>
                    </div>
                  </div>
                  <div>
                    <b-img-lazy
                      :src="data.first_quizable.photo"
                      :alt="data.first_quizable.name"
                      :title="data.first_quizable.name"
                      width="150"
                      class="fade-img"
                    ></b-img-lazy>
                    <b-icon
                      icon="chevron-right"
                      style="z-index: 1000"
                      font-scale="1.5"
                      class="t-chev"
                      v-bind:style="{ color: data.first_quizable.text_color }"
                    ></b-icon>
                  </div>
                </div>
              </b-col>

              <b-col md="12" cols="12">
                <div
                  class="
                    team-box
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  v-bind:style="{ background: data.second_quizable.gradient }"
                  @click="goToLevels(data.id, data.second_quizable.id)"
                >
                  <div class="d-flex justify-content-start align-items-center">
                    <div>
                      <b-img-lazy
                        :src="data.second_quizable.photo"
                        :alt="data.second_quizable.name"
                        :title="data.second_quizable.name"
                        width="75"
                      ></b-img-lazy>
                    </div>
                    <div>
                      <p
                        class="t-name"
                        v-bind:style="{ color: data.second_quizable.text_color }"
                      >
                        {{ data.second_quizable.name }}
                      </p>
                    </div>
                  </div>
                  <div>
                    <b-img-lazy
                      :src="data.second_quizable.photo"
                      :alt="data.second_quizable.name"
                      :title="data.second_quizable.name"
                      width="150"
                      class="fade-img"
                    ></b-img-lazy>
                    <b-icon
                      icon="chevron-right"
                      style="z-index: 1000"
                      font-scale="1.5"
                      class="t-chev"
                      v-bind:style="{ color: data.second_quizable.text_color }"
                    ></b-icon>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        </b-container>
    </template>
    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Quiz Result</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </div>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import NotFoundError from "@/components/NotFoundError.vue";
import $crypt from "@/CryptoJsAesJson";
import { BIcon, BIconChevronRight } from "bootstrap-vue";

@Component({
  components: {
      NotFoundError,
      BIcon,
      BIconChevronRight
  },
})
export default class SingleCampaign extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;

  data: Array<object> = [];

  pageTitle = {
      title:"Hi Kwizian!",
      sub_title:"Choose your club to get started..",
      image: require("@/assets/mascot.svg"),
  }

  created() {
    this.LoadCampaign();
  }

  async LoadCampaign() {
    this.isLoading = true;
    return await $axios
      .get("/api/v1/secured/campaign/load-base/" + this.$route.params.ref)
      .then((response) => {
        // @ts-ignore
        let decrypted = $crypt.prototype.decrypt(response.data.iv);
        //this.AllData = response.data;
        // @ts-ignore
        this.data = decrypted.campaign;
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        // console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  goToLevels(campaign_id: any, quizable_id: any){
      this.$router.push({name: 'ChooseLevel', params: {campaign_id: campaign_id, quizable_id: quizable_id}})
  }

  get user() {
    return store.getters["auth/user"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.team-box {
  position: relative;
  height: 150px;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    cursor: pointer;
    border: 1px solid #febb16;
  }
  & .t-name {
    @include app_text(null, 18px, 600);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0;
  }
  & .fade-img {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.18;
    z-index: 1;
  }
  & .t-chev{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.spinner-text {
  padding-top: 10px;
  @include app_text(#ffffff, 14px, normal);
}

.title-box{
  text-align: center;
  & h2{
    @include title(#ffffff, 18px, 700);
    margin:0;
  }
  & h4{
    @include title(#ffffff, 16px, 500);
    margin:0;
  }
}

</style>