<template>
  <div class="home">
    <h3>About Me</h3>
    <p v-if="isLoggedIn">{{ user }}</p>
    <p v-if="!isLoggedIn">Logged Out</p>
    
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import store from '@/store';
// import {$axios} from '@/plugins/axios';

@Component({
  components: {
  },

})
export default class Home extends Vue {
  isLoading = false;

  mounted(){

  }

  get user(){
    return store.getters['auth/user'];
  }

  get isLoggedIn(){
    return store.getters['auth/isLoggedIn'];
  }
}
</script>
