<template>
  <b-container style="border: 0px solid red">
    <b-overlay
      :show="isLogging"
      spinner-variant="light"
      variant="dark"
      :opacity="0.64"
    >
      <b-row
        align-h="center"
        align-v="center"
        style="height: 80vh; border: 0px solid red"
      >
        <b-col cols="12" md="8">
          <div class="">
            <h2 class="app-title mb-2">Login</h2>
            <h3 class="app-sub-title mb-4">Login via Facebook or Google</h3>
            <div class="d-flex justify-content-between mt-2 mb-2">
              <div class="w-100 m-1">
                <b-button
                  block
                  class="btn-fb"
                  @click="AuthProvider('facebook')"
                >
                  <svg
                    width="27"
                    height="27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#prefix__clip0)">
                      <path
                        d="M17.997 4.483h2.465V.19C20.036.132 18.574 0 16.87 0c-3.554 0-5.989 2.235-5.989 6.344v3.781H6.96v4.8h3.922V27h4.808V14.925h3.763l.598-4.799h-4.362V6.82c.001-1.387.375-2.337 2.308-2.337z"
                        fill="#fff"
                      />
                    </g>
                    <defs>
                      <clipPath id="prefix__clip0">
                        <path fill="#fff" d="M0 0h27v27H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </b-button>
              </div>
              <div class="w-100 m-1">
                <b-button
                  block
                  class="btn-google"
                  @click="AuthProvider('google')"
                >
                  <svg
                    width="27"
                    height="27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.328 13.5c0-1.338.369-2.59 1.009-3.664V5.285H2.786A13.398 13.398 0 000 13.5c0 3.01.98 5.87 2.786 8.215h4.551v-4.551A7.128 7.128 0 016.328 13.5z"
                      fill="#FBBD00"
                    />
                    <path
                      d="M13.5 20.672l-3.164 3.164L13.5 27c3.01 0 5.87-.98 8.215-2.786v-4.546H17.17a7.171 7.171 0 01-3.669 1.004z"
                      fill="#0F9D58"
                    />
                    <path
                      d="M7.337 17.164l-4.551 4.551c.357.465.747.91 1.168 1.331A13.412 13.412 0 0013.5 27v-6.328a7.175 7.175 0 01-6.163-3.508z"
                      fill="#31AA52"
                    />
                    <path
                      d="M27 13.5c0-.821-.074-1.644-.221-2.446l-.119-.648H13.5v6.328h6.405a7.139 7.139 0 01-2.736 2.934l4.546 4.547c.465-.358.91-.748 1.33-1.169A13.412 13.412 0 0027 13.5z"
                      fill="#3C79E6"
                    />
                    <path
                      d="M18.571 8.429l.56.559 4.474-4.475-.559-.559A13.412 13.412 0 0013.5 0l-3.164 3.164L13.5 6.328c1.916 0 3.717.746 5.071 2.1z"
                      fill="#CF2D48"
                    />
                    <path
                      d="M13.5 6.328V0a13.412 13.412 0 00-9.546 3.954c-.421.421-.81.866-1.168 1.33l4.551 4.552A7.175 7.175 0 0113.5 6.328z"
                      fill="#EB4132"
                    />
                  </svg>
                </b-button>
              </div>
            </div>

            <h3 class="app-sub-title mb-4 mt-3">
              Or provide your account info
            </h3>

            <b-form @submit.prevent="Login()">
              <b-input-group class="app-input">
                <b-input-group-prepend
                  class="d-flex flex-column align-items-center"
                >
                  <b-icon
                    icon="envelope-fill"
                    font-scale="1.5"
                    color="#C5C3C3"
                  ></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  trim
                  placeholder="Email"
                  v-model="$v.form.email.$model"
                  :state="validateState('email')"
                  @blur="$v.form.email.$touch()"
                  @input="$v.form.email.$touch()"
                  type="email"
                ></b-form-input>
                <b-form-invalid-feedback id="email-live-feedback">{{
                  EmailErrors
                }}</b-form-invalid-feedback>
              </b-input-group>

              <b-input-group class="app-input mt-2">
                <b-input-group-prepend
                  class="d-flex flex-column align-items-center"
                >
                  <b-icon
                    icon="key-fill"
                    font-scale="1.5"
                    color="#C5C3C3"
                  ></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  trim
                  placeholder="Password"
                  :type="!showPassword ? 'password' : 'text'"
                  v-model="$v.form.password.$model"
                  :state="validateState('password')"
                  @blur="$v.form.password.$touch()"
                  @input="$v.form.password.$touch()"
                ></b-form-input>

                <b-input-group-append
                  class="d-flex flex-column align-items-center"
                  @click="showPassword = !showPassword"
                >
                  <b-icon
                    icon="eye-fill"
                    v-if="showPassword"
                    font-scale="1.5"
                    color="#C5C3C3"
                  ></b-icon>
                  <b-icon
                    icon="eye-slash-fill"
                    font-scale="1.5"
                    color="#C5C3C3"
                    v-if="!showPassword"
                  ></b-icon>
                </b-input-group-append>
                <b-form-invalid-feedback id="password-live-feedback">{{
                  PasswordErrors
                }}</b-form-invalid-feedback>
              </b-input-group>

              <div class="d-flex justify-content-end mt-2">
                <div>
                  <b-link to="/" class="forgot-password-link"
                    >Forgot Password?</b-link
                  >
                </div>
              </div>

              <b-button
                variant="primary"
                block
                class="mt-2"
                type="submit"
                :disabled="isLoading"
                ><b-spinner v-if="isLoading" small></b-spinner
                ><span v-if="!isLoading">Login</span>
              </b-button>
            </b-form>
            <p class="app-text mb-4 mt-3">
              Not a member? <b-link :to="{ name: 'Register' }">Register</b-link>
            </p>
          </div>
        </b-col>
      </b-row>
    </b-overlay>
  </b-container>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";

import {
  BIcon,
  BIconEnvelopeFill,
  BIconLockFill,
  BIconKeyFill,
  BIconEyeFill,
  BIconEyeSlashFill,
} from "bootstrap-vue";

export interface ILogin {
  email?: string;
  password?: string;
}

export interface IResponse {
  token?: string;
}

@Component({
  mixins: [validationMixin],
  components: {
    BIcon,
    BIconEnvelopeFill,
    BIconLockFill,
    BIconKeyFill,
    BIconEyeFill,
    BIconEyeSlashFill,
  },
  validations: {
    form: {
      email: { required, minLength: minLength(3), email },
      password: { required, minLength: minLength(6) },
    },
  },
})
export default class Home extends Vue {
  isLoading = false;
  isLogging = false;
  showPassword = false;
  form = {
    email: "admin@app.com",
    password: "@Password1234",
  };

  Login() {
    this.$v.form.$touch();
    if (this.$v.form.$anyError) {
      return;
    } else {
      this.isLoading = true;
      store
        .dispatch("auth/login", this.form)
        .then((resp) => {
          this.$router.push((this.$route.query.redirect as string) || "/");
        })
        .catch((error) => {
          let message =
            error.status == 422 ? error.data.message : error.data.message;
          let statusTitle = error.statusText;

          this.$toasted.error(message).goAway(2000);
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }

  AuthProvider(provider: string) {
    var self = this;
    //   @ts-ignore
    this.$auth
      .authenticate(provider)
      .then((response: any) => {
        console.log(response);
        self.SocialLogin(provider, response);
      })
      .catch((error: any) => {
        console.log({ err: error });
         this.$toasted.error(error.statusText).goAway(2000);
      });
  }

  async SocialLogin(provider: any, response: any) {
    this.isLogging = true;
    await $axios.get("/sanctum/csrf-cookie");
    $axios
      .post("/api/v1/user/auth/social/callback/" + provider, response)
      .then((response: any) => {
        store.dispatch("auth/social_login", response.data).then((resp) => {
          // @ts-ignore
          this.$router.push(this.$route.query.redirect || "/");
        });
      })
      .catch((error) => {
        console.log({ error: error });
        this.$toasted.error(error.data.message).goAway(2000);
      })
      .finally(() => {
        this.isLogging = false;
      });
  }

  get EmailErrors() {
    var errors: string[] = [];
    if (!this.$v.form.email?.$dirty) return errors;
    !this.$v.form.email?.email && errors.push("Must be valid e-mail");
    !this.$v.form.email?.required && errors.push("E-mail is required");
    !this.$v.form.email?.minLength &&
      errors.push(
        "E-mail must be at least " +
          this.$v?.form?.email?.$params.minLength.min +
          " characters"
      );
    return errors[0];
  }

  get PasswordErrors() {
    var errors: string[] = [];
    if (!this.$v.form.password?.$dirty) return errors;
    !this.$v.form.password.required && errors.push("Password is required");
    !this.$v.form.password.minLength &&
      errors.push(
        "E-mail must be at least " +
          this.$v.form.password.$params.minLength.min +
          " characters"
      );
    return errors[0];
  }

  validateState(name: string): boolean | null {
    const { $dirty, $error } = this.$v.form[name] as any;
    return $dirty ? !$error : null;
  }
}
</script>

<style lang="scss" scoped>
.forgot-password-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #037653;
  &:hover {
    color: var(--secondary) !important;
    text-decoration: none !important;
  }
}
.btn-social {
  &:focus {
    background: none;
  }
}

.btn-fb {
  background: #3b5998;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  outline: none;
  &:focus {
    background: #3b5998;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: #3b5998;
    color: #fff;
    box-shadow: none;
  }
}

.btn-google {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  outline: none;
  &:focus {
    background: #ffffff;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    color: #fff;
    box-shadow: none;
  }
}
.app-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
}
.app-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.app-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #b6b6b6;
}
</style>