<template>
  <b-container>
       <template v-if="isLoading">
        <b-row align-h="center" align-v="center" style="height: 80vh">
            <b-col md="6" class="text-center">
                <b-spinner label="Verifying payment" variant="primary"></b-spinner>
                 <p class="app-text-white">Verifying your payment</p>
            </b-col>
        </b-row>
       </template>

      <template v-if="!isLoading && !hasError">
       <b-row align-h="center" align-v="center" style="height: 80vh">
        <b-col md="6" class="text-center">
          <div>
            <b-img src="/img/check.svg" class="m-0" width="80"></b-img>
          </div>
          <div class="mt-4">
            <h2 class="app-text-title">Payment Success!</h2>
            <p class="app-text-white">You payment was successful.  Get more coins by answering trivia questions now.</p>
            <div class="text-center">
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
              <div class="w-100 m-1">
                <b-button variant="primary" block size="lg" to="/">Boost My Coins</b-button>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
      </template>
      
      <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" :to="{name: 'BuyCoin'}"> Try Again </b-button>
        </template>
      </NotFoundError>
    </template>

  </b-container>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import NotFoundError from "@/components/NotFoundError.vue";
//@ts-ignore
import flutterwave from "@/plugins/flutterwave";

@Component({
  components: {
    NotFoundError,
  },
})
export default class BuyCoin extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;

  mounted() {
    this.verifyPayment();
  }

  verifyPayment() {
      this.isLoading = true;
    $axios
      .post("/api/v1/payment/verify", {transaction_id: this.$route.query.transaction_id})
      .then((response) => {
        store.dispatch("auth/set_user", response.data.user);
        this.$router.push({name: 'PaymentNotice', params:{ref: response.data.ref}});
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
      })
      .finally(() => {
        this.isLoading = false;
      });
  }
  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }
}
</script>

<style lang="scss" scoped>
.app-text-white {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.72);
}
.app-text-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.app-text-sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
.text-amount {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
</style>