<template>
  <div class="">
    <template v-if="!isLoading">
      <div class="">
        <b-progress
          :max="result.total_quiz"
          height="2rem"
          style="border-radius: 0"
          class="quiz-progress"
        >
          <b-progress-bar
            :value="takenQuizCount"
            class="quiz-progress-inner"
            v-bind:class="{ winning: showWinningProgress }"
          >
            <span>{{ takenQuizCount }}/{{ result.total_quiz }}</span>
          </b-progress-bar>
        </b-progress>
      </div>

      <div
        class="
          stats-pane
          d-flex
          flex-column
          justify-content-between
          align-items-center"
      >
        <div
          class="
            d-flex
            justify-content-center
            align-items-center
            w-100
            club-pane
          "
        >
          <div class="" >
            <b-img-lazy :src="session.quizable.photo" width="33"></b-img-lazy>
          </div>
          <div class="">
            <p class="club-name">{{ session.quizable.name }}</p>
          </div>
        </div>
        <div
          class="
            d-flex
            justify-content-between
            align-items-center
            w-100
            win-pane
          "
        >
          <div class="point-stat">
            <div class="d-flex justify-content-center align-items-middle">
              <div class="mr-1">
                <b-img
                  :src="require('@/assets/diamond.svg')"
                  width="24"
                ></b-img>
              </div>
              <div class="icon-text">
                <h4>{{ session.points | decimal }}</h4>
              </div>
            </div>
          </div>
          <div class="winnings-stat">
            <p>Total Winning</p>
            <h2>NGN {{ session.earned_winning | decimal }}0</h2>
          </div>
        </div>
        <div
          class="
            d-flex
            justify-content-between
            align-items-center
            w-100
            session-pane
          "
        >
          <div class=""><p class="session-title">Session ID:</p></div>
          <div class="">
            <p class="session-id">{{ session.session_id }}</p>
          </div>
        </div>
      </div>

      <div class="details-pane">
        <b-container>
          <h2 class="details-title mb-3">Quiz Details</h2>
          <b-row align-h="between" align-v="center">
            <b-col
              cols="4"
              class="mb-2"
              v-for="quiz in session.quizzes"
              v-bind:key="quiz.id"
            >
              <div
                class="
                  quiz-card-detail
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                <div
                  class="
                    status-indicator
                    d-flex
                    flex-column
                    justify-content-center
                    align-items-center
                  "
                  v-bind:class="{
                    passed: quiz.status == true,
                    failed: quiz.status == false,
                  }"
                >
                  <template v-if="quiz.status == true">
                    <b-img
                      :src="require('@/assets/passed.svg')"
                      width="18"
                    ></b-img>
                  </template>
                  <template v-if="quiz.status == false">
                    <b-img
                      :src="require('@/assets/failed.svg')"
                      width="14"
                    ></b-img>
                  </template>
                </div>
                <div class="odd-box text-center">
                  <p>{{ quiz.points }}</p>
                </div>
              </div>
            </b-col>

            <b-col
              cols="4"
              class="mb-2"
              v-for="quiz in result.unplayed"
              v-bind:key="quiz.id"
            >
              <div
                class="
                  quiz-card-detail
                  unplayed
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                <div
                  class="
                    status-indicator
                    d-flex
                    flex-column
                    justify-content-center
                    align-items-center
                  "
                >
                  <b-img
                    :src="require('@/assets/chevron-right.svg')"
                    width="16"
                  ></b-img>
                </div>
                <div class="odd-box text-center">
                  <p>{{ quiz.booster.booster }}</p>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="rank-table">
        <div
          class="
            rank-header
            d-flex
            flex-column
            justify-content-between
            align-items-center
          "
        >
          <div
            class="
              top-most
              d-flex
              justify-content-start
              align-items-center
              w-100
            "
          >
            <div>
              <b-img :src="require('@/assets/diamond.svg')" width="30"></b-img>
            </div>
            <div class="campaign-name">
              <h2>{{ session.campaign.title }}</h2>
            </div>
          </div>
          <div
            class="
              rank-prize
              d-flex
              justify-content-between
              w-100
              align-items-center
            "
          >
            <div class="prize-title"><h2>Prize:</h2></div>
            <div class="prize-amount">
              <h2>NGN {{ 20000000 | decimal }}0</h2>
            </div>
          </div>
          <div
            class="
              rank-box
              d-flex
              justify-content-between
              align-items-center
              w-100
              border-top
            "
          >
            <div
              class="
                user-points-pane
                d-flex
                justify-content-start
                align-items-center
              "
            >
              <div class="">
                <b-avatar
                  class="avatar-bg"
                  :text="result.current_user_ranking.avatar_text"
                  width="36"
                ></b-avatar>
              </div>
              <div class="points-name pl-2">
                <div class="d-flex justify-content-start align-items-center">
                  <div>
                    <b-img
                      :src="require('@/assets/diamond-alt.svg')"
                      width="20"
                    ></b-img>
                  </div>
                  <div class="b-points">
                    <h2>
                      {{
                        result.current_user_ranking.total_earned_points
                          | decimal
                      }}
                    </h2>
                  </div>
                </div>
                <div class="b-name">
                  <h2>@{{ result.current_user_ranking.user.username }}</h2>
                </div>
              </div>
            </div>
            <div
              class="u-rank-pane d-flex justify-content-end align-items-center"
            >
              <div>
                <!-- <b-img :src="require('@/assets/trophy.svg')" width="27"></b-img> -->
              </div>
              <div>
                <h2 class="u-rank">#{{ result.current_user_ranking.rank }}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="rank-list">
          <div
            class="
              rank-box
              standalone
              d-flex
              justify-content-between
              align-items-center
              w-100
              border-top
            "
            v-for="ranking in result.ranking"
            v-bind:key="ranking.id"
          >
            <div
              class="
                user-points-pane
                d-flex
                justify-content-start
                align-items-center
              "
            >
              <div class="">
                <b-avatar
                  class="avatar-bg"
                  :text="ranking.avatar_text"
                  width="36"
                ></b-avatar>
              </div>
              <div class="points-name pl-2">
                <div class="d-flex justify-content-start align-items-center">
                  <div>
                    <b-img
                      :src="require('@/assets/diamond-alt.svg')"
                      width="20"
                    ></b-img>
                  </div>
                  <div class="b-points">
                    <h2>{{ ranking.total_earned_points | decimal }}</h2>
                  </div>
                </div>
                <div class="b-name">
                  <h2>@{{ ranking.user.username }}</h2>
                </div>
              </div>
            </div>
            <div
              class="u-rank-pane d-flex justify-content-end align-items-center"
            >
              <div>
                <b-img
                  :src="require('@/assets/trophy.svg')"
                  width="27"
                  v-if="ranking.is_first"
                ></b-img>
              </div>
              <div>
                <h2 class="u-rank">#{{ ranking.rank }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="action-pane mt-3">
        <b-container>
          <b-row>
            <b-col cols="12" md="6" class="mb-2">
              <b-button
                variant="primary"
                block
                size="lg"
                style="height: 60px; border-radius: 10px"
                >Play Again</b-button
              >
            </b-col>
            <b-col cols="12" md="6" class="mb-2">
              <b-button
                variant="dark"
                class="subtle-btn"
                block
                size="lg"
                style="height: 60px; border-radius: 10px"
                >Play Another Quiz</b-button
              >
            </b-col>
          </b-row>
        </b-container>
      </div>
    </template>
    <template v-if="isLoading && !hasError">
      <div style="height:100vh;" class="d-flex flex-column justify-content-center align-items-center">
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div class="d-flex flex-column justify-content-center align-items-center">
            <b-spinner variant="primary" style="width: 4rem; height: 4rem;"></b-spinner>
            <p class="spinner-text">Fetching Quiz Result</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>

  </div>
</template>
 
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import NotFoundError from "@/components/NotFoundError.vue";
import $crypt from "@/CryptoJsAesJson";

@Component({
  components: {
    NotFoundError,
  },
})
export default class Preview extends Vue {
  isLoading = false;
  result: Array<object> = [];
  session: Array<object> = [];
  // unplayed_quizzes: Array<object> = [];
  ErrorMessage = "";
  Error = {};
  hasError = false;
  takenQuizCount = 0;
  showWinningProgress: boolean = false;

  created() {
    this.LoadResult();
  }

  async LoadResult() {
    this.isLoading = true;
    return await $axios
      .get("/api/v1/secured/campaign/result/" + this.$route.params.session_id)
      .then((response) => {
        // @ts-ignore
        let decrypted = $crypt.prototype.decrypt(response.data.iv);
        //this.AllData = response.data;
        this.result = decrypted;
        // @ts-ignore
        this.session = this.result.session;
        // console.log(this.result);
        // @ts-ignore
        this.takenQuizCount = this.session.quizzes.length;
        // @ts-ignore
        this.showWinningProgress = this.takenQuizCount > this.result.total_quiz / 2 ? true : false;
        // store.dispatch("auth/set_user", response.data.user);
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        // console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";

.quiz-progress {
  background-color: $dark-layer;
  & .quiz-progress-inner {
    background-color: $layer;
    @include number_text(#ffffff, 14px, 600);
    &.winning {
      background-color: $primary;
    }
  }
}

.stats-pane {
  background-color: #2a344a;
  padding-top: 10px;
  padding-bottom: 10px;
  // height: 78px;
  // padding-left:15px;
  // padding-right:15px;
  & .club-pane {
    height: 45px;
    & .club-name {
      @include app_text(#ffffff, 16px, 600);
      margin: 0;
    }
  }
  & .win-pane {
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
  }
  & .point-stat {
    & .icon-text {
      @include number_text(#ffffff, 18px, 600);
      margin: 0;
    }
  }
  & .winnings-stat {
    & p {
      @include app_text(rgba(255, 255, 255, 0.72), 12px, 600);
      margin: 0;
      text-align: right;
    }
    & h2 {
      @include number_text(#ffffff, 18px, 700);
      margin: 0;
      text-align: right;
    }
  }
  & .session-pane {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    & .session-title {
      @include app_text(rgba(255, 255, 255, 0.5), 14px, 500);
    }
    & .session-id {
      @include app_text(rgba(255, 255, 255, 0.5), 12px, 500);
    }
  }
}

.details-pane {
  background: $layer;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  & .details-title {
    @include title(#ffffff, 16px, 500);
    margin: 0;
  }
  & .quiz-card-detail {
    background: #2a354a;
    border-radius: 10px;
    height: 42px;
    width: 100%;

    & .odd-box {
      width: calc(100% - 38px);
    }
    & .odd-box * {
      @include app_text(rgba(255, 255, 255, 0.89), 16px, 500);
      margin: 0;
    }
    & .status-indicator {
      width: 38px;
      height: 100%;
      text-align: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      &.passed {
        background: $secondary;
      }
      &.failed {
        background: $danger;
      }
    }
    &.unplayed {
      opacity: 0.6;
      & .status-indicator {
        width: 38px;
        height: 100%;
        text-align: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #252e42;
      }
    }
  }
}

.rank-table {
  margin-top: 10px;
  & .rank-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #3a4965;
    & .top-most {
      padding-left: 15px;
      padding-right: 15px;
      & .campaign-name h2 {
        @include title(#ffffff, 18px, 600);
        margin: 0;
        padding-left: 4px;
      }
    }
    & .rank-prize {
      padding-left: 15px;
      padding-right: 15px;
      height: 50px;
      & .prize-title h2 {
        @include title(#ffffff, 18px, normal);
        margin: 0;
      }
      & .prize-amount h2 {
        @include title(#ffffff, 18px, 600);
        margin: 0;
      }
    }
  }
  & .rank-box {
    height: 69px;
    padding-left: 15px;
    padding-right: 15px;
    &.standalone {
      background: $layer;
      margin-bottom: 1px;
    }
    & .user-points-pane {
      & .avatar-bg {
        background: #2a354a;
        border: 1px solid $body-bg;
        @include title(#ffffff, 16px, 500);
      }
      & .points-name {
        & .b-points * {
          @include title(#ffffff, 18px, 600);
          margin: 0;
          padding-left: 4px;
        }
        & .b-name * {
          @include app_text(#ffffff, 14px, normal);
          margin: 0;
        }
      }
    }
    & .u-rank-pane {
      height: 100%;
      & .u-rank {
        @include title(#ffffff, 24px, 600);
        margin: 0;
        padding-left: 2px;
      }
    }
  }
}

.subtle-btn {
  background: $layer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.spinner-text{
  padding-top:10px;
  @include app_text(#ffffff, 14px, normal);
}
</style>
