 <template>
  <b-container class="mt-5">
    <b-row
      align-h="center"
      align-v="center"
    >
      <b-col cols="12" md="5">
          <div class="header-jar text-center">
               <b-img-lazy :src="user.photo" style="margin:0 auto;"></b-img-lazy>
                <h2 class="app-sub-title mt-3 mb-3">{{ user.username }}</h2>
              <b-nav pills fill class="mb-3">
                <b-nav-item :to="{name: 'AccountSetting'}">Basic</b-nav-item>
                <b-nav-item :to="{name: 'PasswordSetting'}">Password</b-nav-item>
                <b-nav-item :to="{name: 'EmailSetting'}">Email</b-nav-item>
            </b-nav>
          </div>

          <div>
              <router-view />
          </div>
       
      </b-col>
    </b-row>
  </b-container>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";

import {
  BIcon,
  BIconEnvelopeFill,
  BIconLockFill,
  BIconKeyFill,
} from "bootstrap-vue";

@Component({
  components: {
    BIcon,
    BIconEnvelopeFill,
    BIconLockFill,
    BIconKeyFill,
  },
})
export default class Home extends Vue {
  isLoading = false;

  basic: any =  {
      username: "",
      firstname: "",
      lastname: "",
  }

  email: any =  {
      email: "",
  }

  password: any =  {
      password: "",
      confirm_password: "",
  }

  mounted(){
      this.setForm();
  }

  setForm(){
      this.basic.username = this.user.username;
      this.basic.firstname = this.user.firstname;
      this.basic.lastname = this.user.lastname;
  }

  Login() {
    this.isLoading = true;
  }

  get user(){
     return store.getters["auth/user"];
  }

}
</script>

<style lang="scss" scoped>
.forgot-password-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #037653;
  &:hover {
    color: var(--secondary) !important;
    text-decoration: none !important;
  }
}
.btn-social {
  &:focus {
    background: none;
  }
}

.btn-fb {
  background: #3b5998;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  outline: none;
  &:focus {
    background: #3b5998;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: #3b5998;
    color: #fff;
    box-shadow: none;
  }
}

.btn-google {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  outline: none;
  &:focus {
    background: #ffffff;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    color: #fff;
    box-shadow: none;
  }
}
.app-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
}
.app-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.app-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #b6b6b6;
}
</style>