<template>
  <b-container>
       <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import NotFoundError from "@/components/NotFoundError.vue";

@Component({
  components: {
    NotFoundError,
  },
})
export default class Transactions extends Vue {
  isLoading = false;
  result = [];
  ErrorMessage = "";
  Error = {};
  hasError = false;

  mounted() {
    this.LoadTransactions();
  }

  async LoadTransactions() {
    this.isLoading = true;
    let getTrivia = await $axios
      .get("/api/v1/payment/history")
      .then((response) => {
        this.result = response.data;
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  get user() {
    return store.getters["auth/user"];
  }

}
</script>

<style>

</style>