<template>
  <b-row align-h="center" align-v="center" style="height:80vh;">
      <b-col md="6" class="text-center">
          <div>
              <b-img :src="require('@/assets/error.svg')" class="m-0" width="60"></b-img>
          </div>
          <div class="mt-4">
              <h4 class="app-text-sub-title">{{ status }}</h4>
              <h2 class="app-text-title">{{ statusText }}</h2>
              <p class="app-text-white">{{ message }}</p>
              <div>
                <slot name="action"></slot>
              </div>
          </div>
          
      </b-col>
  </b-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
@Component
export default class NotFoundError extends Vue {
  @Prop() private message!: string;
  @Prop() private status!: string;
  @Prop() private statusText!: string;
}
</script>

<style>
    .app-text-white{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.72);

    }
    .app-text-title{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    .app-text-sub-title{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;
    }
</style>