<template>
   <div class="">
         
          <h3 class="app-sub-title mb-4">Account</h3>

          <b-form @submit.prevent="Save()">
          
            <b-form-group
                class="app-input"
            >
                <b-form-input
                id="input-1"
                type="text"
                placeholder="Username"
                required
                v-model="basic.username"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                class="app-input"
            >
                <b-form-input
                id="input-1"
                type="text"
                placeholder="Firstname"
                required
                v-model="basic.firstname"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                class="app-input"
            >
                <b-form-input
                id="input-1"
                type="text"
                placeholder="Lastname"
                required
                v-model="basic.lastname"
                ></b-form-input>
            </b-form-group>


            <b-button
              variant="primary"
              block
              class="mt-2"
              type="submit"
              :disabled="isLoading"
              ><b-spinner small v-if="isLoading"></b-spinner> Save
            </b-button>
          </b-form>
          
        </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";

@Component({
  components: {
  },
})
export default class Home extends Vue {
  isLoading = false;

  basic: any =  {
      username: "",
      firstname: "",
      lastname: "",
  }

  email: any =  {
      email: "",
  }

  password: any =  {
      password: "",
      confirm_password: "",
  }

  mounted(){
      this.setForm();
  }

  setForm(){
      this.basic.username = this.user.username;
      this.basic.firstname = this.user.firstname;
      this.basic.lastname = this.user.lastname;
  }

  Save(){
      
  }

  get user(){
     return store.getters["auth/user"];
  }

}

</script>

<style>

</style>