<template>
  <div class="page" id="app" style="border: 0px solid purple">
      <header style="border: 0px solid green">
        <div class="app-nav">
          <div class="container">
            <b-row align-h="center">
              <b-col md="12" cols="12">
                <div
                  class="d-flex justify-content-between align-items-center"
                  style="height: 60px"
                >
                  <div class="">
                    <b-link to="/">
                      <img
                        :src="require('@/assets/logo.svg')"
                        title="Ominisabi"
                        alt="Ominisabi"
                        width="99px"
                        class="show-logo"
                      />
                      <img
                        :src="require('@/assets/logo.svg')"
                        title="Ominisabi"
                        alt="Ominisabi"
                        width="99px"
                        class="show-logo-icon"
                      />
                    </b-link>
                  </div>
                  <div class="">
                    <template v-if="!isLoggedIn">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                              <b-button
                              variant="secondary"
                              :to="{ name: 'Login' }"
                              class="app-btn mr-2"
                              >Login</b-button>
                            </div>
                            <div>
                              <b-button
                              variant="primary"
                              :to="{ name: 'Register' }"
                              class="app-btn mr-1"
                              >Register</b-button>
                            </div>
                            <div>
                              <b-button
                                variant="none"
                                class="btn-nav-usr"
                                v-b-toggle.userMenu
                              >
                                <b-icon
                                  icon="list"
                                  variant="light"
                                  font-scale="1.8"
                                ></b-icon>
                              </b-button>
                            </div>

                        </div>
                    </template>
                    <template v-if="isLoggedIn">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <b-button variant="none" class="btn-nav-kwiz mr-2" :to="{ name: 'Explore' }">
                            Add Fund <b-icon icon="chevron-right"></b-icon>
                          </b-button> 
                        </div>
                        <div>
                          <b-button
                            variant="none"
                            class="btn-nav-user"
                            v-b-toggle.userMenu
                          >
                            <b-icon
                              icon="person-lines-fill"
                              style="color: var(--primary)"
                              font-scale="1.5"
                            ></b-icon>
                          </b-button>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </b-col>
            </b-row>
          </div>
        </div>

        <b-sidebar
          id="userMenu"
          shadow
          right
          class="offcanvas"
          text-variant="light"
          backdrop
          backdrop-variant="transparent"
          no-header
        >
          <div
            class="
              d-flex
              flex-column
              justify-content-start
              align-items-left
              h-100
            "
          >
            <div class="user-box d-flex justify-content-start align-items-center mb-2"  v-if="isLoggedIn && user">
                <div class="">
                  <div class="user-icon-box d-flex flex-column justify-content-center align-items-center">
                    <b-icon icon="person" variant="light"></b-icon>
                  </div>
                </div>
                <div class="pl-2">
                  <p class="user-title"> {{ user.firstname }} {{ user.lastname }} </p>
                  <p class="user-name">@{{ user.username }}</p>
                </div>
            </div>

            <div class="balance-box d-flex justify-content-start align-items-center my-3"  v-if="isLoggedIn && user">
                <div class="">
                  <div class="balance-icon-box d-flex flex-column justify-content-center align-items-center">
                    <b-icon icon="wallet2" variant="light"></b-icon>
                  </div>
                </div>
                <div class="pl-2">
                  <p class="balance-title">Balance:</p>
                  <p class="balance-value">NGN {{ user.user_balance }}</p>
                </div>
            </div>

            <div style="height: 50px" v-if="!isLoggedIn"></div>
            <div class="menu-box d-flex flex-wrap justify-content-between align-items-center">
                <template v-if="!isLoggedIn">
                  <b-link class="menu-box-link d-flex flex-column justify-content-center align-items-center" :to="{name: menu.name}" v-for="(menu, index) in getGuestmenuLinks" v-bind:key="index">
                    <p>{{ menu.title }}</p>
                  </b-link>
                </template>
                <template v-if="isLoggedIn">
                  <b-link class="menu-box-link d-flex flex-column justify-content-center align-items-center" :to="{name: menu.name}" v-for="(menu, index) in getAuthmenuLinks" v-bind:key="index" exact>
                    <p>{{ menu.title }}</p>
                  </b-link>
                </template>
            </div>

           
            <div class="text-center button-box mt-3" v-if="isLoggedIn">
              <!-- <b-button variant="primary" :to="{name:'BuyCoin'}" block>Buy Coin</b-button> -->
              <b-button variant="dark"  block size="lg" style="height: 50px;" class="logout-btn" @click="Logout()"
                >Logout</b-button
              >
            </div>
          </div>
        </b-sidebar>

      </header>
      <main style="border: 0px solid red">
        <router-view />
      </main>
      <footer style="border: 0px solid indigo" class="page-footer">
        <div class="container">
          <b-row align-h="center">
            <b-col cols="12" md="8">
                <div class="d-flex flex-column justify-content-between align-items-center">
                    <div>
                      <b-nav class="footer-menu">
                        <b-nav-item :to="{ name: 'Home' }" exact>Policy</b-nav-item>
                        <b-nav-item>T&C</b-nav-item>
                        <b-nav-item>Contact Us</b-nav-item>
                        <b-nav-item>Tutorial</b-nav-item>
                      </b-nav>
                    </div>
                    <div>
                      <b-img-lazy :src="require('@/assets/gateways.png')" alt="Kwizia Payment Gateways" width="200"></b-img-lazy>
                    </div>
                    <div class="mt-2">
                      <p class="copyright">&copy; 2021 Copyright. <span>Penta Soft Limited</span></p>
                    </div>
                </div>
            </b-col>
          </b-row>
        </div>
      </footer>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import store from "@/store";
import filter  from "lodash/filter";
import { BIcon, BIconPersonLinesFill, BIconChevronRight, BIconWallet2, BIconPerson, BIconList } from "bootstrap-vue";
@Component({
  components: {
    BIcon,
    BIconPersonLinesFill,
    BIconChevronRight,
    BIconWallet2,
    BIconPerson,
    BIconList
  },
})
export default class App extends Vue {
  menuLinks: Array<object> = [
      {
          title: "Explore Kwiz",
          name: "Explore",
          needsAuth: false,
      },
      {
          title: "Add Fund",
          name: "Deposit",
          needsAuth: true
      },
      {
          title: "My Account",
          name: "MyAccount",
          needsAuth: true
      },
      {
          title: "Kwiz History",
          name: "KwizHistory",
          needsAuth: true
      },
      {
          title: "My Payments",
          name: "Cashier",
          needsAuth: true
      },
      {
          title: "Withdraw",
          name: "Withdraw",
          needsAuth: true
      },
      {
          title: "How To Play",
          name: "HowToPlay",
          needsAuth: false,
      },
      {
          title: "About Kwizia",
          name: "About",
          needsAuth: false,
      },
  ];

  isUserLoaded: boolean = false;

  created(){
      this.isUserLoaded = true;
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }

  get user() {
    return store.getters["auth/user"];
  }

  get getGuestmenuLinks(){
      return filter(this.menuLinks, {needsAuth: false});
  }

  get getAuthmenuLinks(){
      return this.menuLinks;
  }

  Logout() {
    store
      .dispatch("auth/logout")
      .then((resp) => {
        this.$router.push({
          name: "Login",
          query: { redirect: this.$route.fullPath },
        });
      })
      .catch((err) => {
        console.log(err);
      });
  }
}
</script>
<style lang="scss">
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";

.button-box{
  margin-left:15px;
  margin-right:15px;
  & .logout-btn{
    background: $layer;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.user-box{
  background: #252E42;
  padding-left:15px;
  height: 70px;
  // height: 100px;
    & .user-icon-box{
        width: 30px;
        height: 30px;
        // background: #3A4965;
        // border-radius: 4px;
        font-size: 30px;
        & *{
          color: rgba(255, 254, 254, 0.81);
        }
    }
    & .user-title{
      @include app_text(#ffffff, 16px, normal);
      margin:0;
    }
    & .user-name{
      @include app_text(rgba(255, 255, 255, 0.63), 14px, normal);
      margin:0;
    }
}

.menu-box{
  & .menu-box-link{
      background: #35435E;
      height:50px;
      width:50%;
      border-right: 1px solid #2A344A;
      border-bottom: 1px solid #2A344A;
      // border: 1px solid red;
      & p{
        @include app_text(rgba(255, 255, 255, 0.7), 14px, 500);
        margin:0;
      }
      &:hover{
        cursor:pointer;
        text-decoration: none;
        background: #3A4965;
      }
      &.router-link-exact-active, .router-link-active{
        background: #3A4965;
        & p{
          @include app_text($primary, 14px, 500);
        }
      }
  }
}

.balance-box{
  margin-left:15px;
  // height: 100px;
    & .balance-icon-box{
        width: 50px;
        height: 50px;
        background: #3A4965;
        border-radius: 4px;
        font-size: 24px;
    }
    & .balance-title{
      @include app_text(rgba(255, 255, 255, 0.74), 14px, normal);
      margin:0;
    }
    & .balance-value{
      @include app_text(#ffffff, 15px, 600);
      margin:0;
    }
}

.app-nav {
  //   background: var(--primary);
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  background: transparent;
  height: 60px;
  // position: fixed;
  width: 100%;
  // z-index: 1000;
  border-bottom: 1px solid var(--app-border-color);
  // border-bottom: 1px solid #005A3F;
}

#userMenu {
  background: #2a344a !important;
}
.menu-user-trigger {
  margin: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.text-btn-app {
  color: var(--primary) !important;
  font-weight: 600 !important;
}
.text-btn-app-wh {
  font-weight: 600 !important;
  &:hover,
  :focus {
    color: var(--primary) !important;
  }
}

.text-amount {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.72);
  // color: var(--secondary);
}

.btn-nav-user {
  background: #2f3b52;
  border-radius: 4px;
  color: var(--primary);
}

.btn-nav-kwiz {
  background: #2f3b52;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    color: var(--primary);
  }
}

.offcanvas-nav {
  & .nav-item {
    & a {
      height: 50px;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      border-radius: 0;
      @include app_text(rgba(255, 255, 255, 0.89), 14px, normal);
      &:hover:not(.active) {
        @include app_text(var(--primary), 14px, normal);
      }
      &.router-link-active {
        @include app_text(var(--primary), 14px, normal);
        background: #252e42;
      }
    }
  }
}

.page-footer{
  margin-top:10px;
  background: #2F3B52;
  padding-top:20px;
  & .footer-menu{
      & .nav-item {
          & a {
            @include app_text(rgba(255, 255, 255, 0.9), 12px, normal);
              &:hover:not(.active) {
                @include app_text(var(--primary), 12px, normal);
              }
              &.router-link-active {
                @include app_text(var(--primary), 12px, normal);
              }
          }
      }
  }
  & .copyright{
    @include app_text(rgba(255, 255, 255, 0.71), 11px, normal);
    margin:0;
    & span{
      @include app_text(#ffffff, 11px, normal);
    }
  }
}

</style>
