 <template>
  <div class="">
    <template v-if="!isLoading && !hasError">
        <div class="container mt-3 cash-list-pane">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <div class=""><h1 class="section-title">My Transactions</h1></div>
                <div class=""></div>
            </div>
            <div class="cashier-list success d-flex justify-content-between align-items-center">
                <div class="list-info-pane d-flex justify-content-start align-items center">
                    <div class="">
                        <b-avatar text="BV" class="pay-avatar" size="36px"></b-avatar>
                    </div>
                    <div class="pl-1">
                        <h2 class="cash-description">Trivia Earning</h2>
                    <p class="info-date">20 Feb 2020</p>
                    </div>
                </div>
                <div class="list-cash-pane">
                    <h2 class="cash-info">NGN 500000</h2>
                    <p class="info-status">Success</p>
                </div>
            </div>
        </div>
    </template>

    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Balance</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>

    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <!-- <template v-slot:action>
          <b-button variant="primary">Refresh </b-button>
        </template> -->
      </NotFoundError>
    </template>
  </div>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import $crypt from "@/CryptoJsAesJson";
import NotFoundError from "@/components/NotFoundError.vue";

@Component({
  components: {
      NotFoundError
  },
})
export default class Cashier extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;

  data: Array<object> = [];

  created() {
    // this.LoadData();
  }

  get user() {
    return store.getters["auth/user"];
  }
}
</script>
<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.cash-list-pane{
    & .section-title{
        @include title(#ffffff, 18px, 500);
        margin:0;
       }
    & .cashier-list{
        background: $layer;
        height: 66px;
        border-bottom: 1px solid $body-bg;
        padding:0px 10px;
        &.success{
            & .pay-avatar{
                background: #252E42;
                @include app_text(#04E6BD, 14px, 500);
            }
            & .cash-description{
                @include app_text(#ffffff, 14px, 500);
                margin:0;
            }
            & .info-date{
                @include app_text(rgba(255, 255, 255, 0.59), 11px, normal);
                margin:0;
            }
            & .list-cash-pane{
                & .cash-info{
                    @include app_text(#04E6BD, 14px, 500);
                    margin:0;
                }
                & .info-status{
                    @include app_text(#04E6BD, 12px, 500);
                    margin:0;
                }
            }
        }
        &.danger{
            & .pay-avatar{
                background: #252E42;
                @include app_text(#FF4672, 14px, 500);
            }
            & .cash-description{
                @include app_text(#ffffff, 14px, 500);
                margin:0;
            }
            & .info-date{
                @include app_text(rgba(255, 255, 255, 0.59), 11px, normal);
                margin:0;
            }
            & .list-cash-pane{
                & .cash-info{
                    @include app_text(#FF4672, 14px, 500);
                    margin:0;
                }
                & .info-status{
                    @include app_text(#FF4672, 12px, 500);
                    margin:0;
                }
            }
        }
        &.pending{
            & .pay-avatar{
                background: #252E42;
                @include app_text(#ECDF06, 14px, 500);
            }
            & .cash-description{
                @include app_text(#ffffff, 14px, 500);
                margin:0;
            }
            & .info-date{
                @include app_text(rgba(255, 255, 255, 0.59), 11px, normal);
                margin:0;
            }
            & .list-cash-pane{
                & .cash-info{
                    @include app_text(#ECDF06, 14px, 500);
                    margin:0;
                }
                & .info-status{
                    @include app_text(#ECDF06, 12px, 500);
                    margin:0;
                }
            }
        }
    }
}


.spinner-text {
  padding-top: 10px;
  @include app_text(#ffffff, 14px, normal);
}
</style>